body {
    margin: 0;
    max-height: 100%;
}

#contenedor,
#cielo,
#piso {
    width: 100%;
}

#contenedor {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.parallax-layer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.background-layer-5 {
    background: url('images/background/5.png') repeat-x;
    background-size: 1500px 74%;
    z-index: -5;
    animation: paralax 60s linear infinite;
    top: -7%;
}

.background-layer-4 {
    background: url('images/background/4.png') repeat-x;
    background-size: 1500px 264px;
    z-index: -5;
    animation: paralax 40s linear infinite;
    top: 12%;
}

.background-layer-3 {
    background: url('images/background/3.png') repeat-x;
    background-size: 1500px 359px;
    z-index: -4;
    animation: paralax 30s linear infinite;
    top: 24%;
}

.background-layer-2 {
    background: url('images/background/2.png') repeat-x;
    background-size: 1500px 478px;
    z-index: -3;
    animation: paralax 20s linear infinite;
    top: 30%;
}

.background-layer-1 {
    /* capa mas cercana al espectador */
    background: url('images/background/1.png') repeat-x;
    background-size: 1500px 259px;
    z-index: -2;
    animation: paralax 12s linear infinite;
    top: 49%;
}

#piso {
    height: 30%;
    background: url("images/background/piso.png") repeat-x;
    background-size: 1500px 283px;
    animation: paralax 5s linear infinite;
    position: absolute;
    bottom: -60px;
    z-index: 0;
}

@keyframes paralax {
    0% {
        background-position: 1500px
    }

    100% {
        background-position: 0
    }
}

.correr {
    background: url("images/character/01_run_01start/run.png") repeat-x;
    animation: correr .5s steps(25) infinite;
}

.saltar {
    background: url("images/character/02_jump_01start/jump-start.png") repeat-x;
    animation: saltar .5s steps(22) forwards;
}

.caer {
    background: url("images/character/02_jump_02finish/jump-finish.png") repeat-x;
    animation: caer .5s steps(11) forwards;
}
 
@keyframes correr {
    0% {
        background-position: 0
    }

    100% {
        background-position: -19975px
    }
}
 
@keyframes saltar {
    0% {
        background-position: 0;
        bottom: -110px;
    }

    100% {
        background-position: -17798px;
        bottom: 8%;
    }
}

@keyframes caer {
    0% {
        background-position: 0;
        bottom: 8%;
    }

    100% {
        background-position: -8899px;
        bottom: -110px;
    }
} 

/*#enemigo {
    position: absolute;
    bottom: -218px;
    
}*/

.skeleton{
    background: url("images/enemies/skeleton.png") repeat-x;
    animation: movimiento-pantalla 20s forwards, animacion-sprite .20s steps(13) infinite; /*par el enemigo uso 2 animaciones, una para el movimiento y otra para el sprite */  
}

@keyframes movimiento-pantalla {
    0% {
      left: 100vw; /* Posición inicial en el lado derecho */
    }
  
    100% {
      left: -150vw; /* Posición final en el lado izquierdo */
    }
  }

@keyframes animacion-sprite {
    0% {
        background-position: 0;
        
    }

    100% {
        background-position: -15795px;
    }
}

