body {
    margin: 0;
    max-height: 100%;
}

.pantalla-inicial{
    height: 100vh;
    width: 100%;    
}

.invisible{
    display: none;
}

#contenedor,
#cielo,
#piso {
    width: 100%;
}

#contenedor {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.parallax-layer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.background-layer-5 {
    background: url('images/background/5.png') repeat-x;
    background-size: 1500px 74%;
    z-index: -5;
    animation: paralax 60s linear infinite;
    top: -7%;
}

.background-layer-4 {
    background: url('images/background/4.png') repeat-x;
    background-size: 1500px 264px;
    z-index: -5;
    animation: paralax 40s linear infinite;
    top: 12%;
}

.background-layer-3 {
    background: url('images/background/3.png') repeat-x;
    background-size: 1500px 359px;
    z-index: -4;
    animation: paralax 30s linear infinite;
    top: 24%;
}

.background-layer-2 {
    background: url('images/background/2.png') repeat-x;
    background-size: 1500px 478px;
    z-index: -3;
    animation: paralax 20s linear infinite;
    top: 30%;
}

.background-layer-1 {
    /* capa mas cercana al espectador */
    background: url('images/background/1.png') repeat-x;
    background-size: 1500px 259px;
    z-index: -2;
    animation: paralax 12s linear infinite;
    top: 49%;
}

#piso {
    height: 30%;
    background: url("images/background/piso.png") repeat-x;
    background-size: 1500px 283px;
    animation: paralax 6s linear infinite;
    position: absolute;
    bottom: -60px;
    z-index: 0;
}

@keyframes paralax {
    0% {
        background-position: 1500px
    }

    100% {
        background-position: 0
    }
}

/* MENU */

.span-rojo {
    color: red;
}

.span-amarillo {
    color: rgb(234, 234, 8);
}

p {
    margin: 10px 10% 2% 5%;
}

h3,
h4 {
    margin-top: 15px;
    margin-left: 5%;
    margin-bottom: 5px;
}

.menu,
.instrucciones {
    display: flex;
    position: absolute;
    background-color: rgba(63, 66, 69, 0.7);
    width: 50%;
    height: 75%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
    z-index: 5;

}

.instrucciones {
    font-family: Arial, Helvetica, sans-serif;
    height: 75%;
    width: 90%;
    top: 20%;
    font-size: 15pt;
}

.controles {
    position: absolute;
    opacity: 0;
    top: 6%;
    left: 5%;
    height: 90%;
    width: 90%;
    background-color: trasparent;
}

.controles>img {
    padding-left: 15px;
}

.menu-button {
    position: relative;
    top: -39%;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(147, 224, 75);
}

.menu-button:hover {
    cursor: pointer;
    border: 1px solid white;
    background-color: rgb(31, 31, 31);
    color: #fff;
}

#end-game{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75vh;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    z-index: 4;
}

.score-game-over{
    color: rgb(234, 234, 8);  
    padding-left: 32px;  
}

.game-over-img{
    transform: scale(.8);
    padding-top: 45px;
}

.endgame-btn-div{
    padding-top: 5vh;
}


/* UI */

#tablero-jugador {
    display: flex;
    opacity: 0;
}

.tablero-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 28vh;
    height: 10vh;
    scale: .22;
    position: relative;
    left: 2vh;
}

.ui-icon {
    scale: .7;
    position: inherit;
    animation: power-up-beat 1s infinite;
}

.ui-icon.hearth {
    top: 12vh;
    left: 33vh;
}

.ui-icon.timer {
    top: 9vh;
    left: 33vh;
}

.ui-icon.shield {
    top: 8vh;
    left: 33vh;
}

.item-text,
div.item-text span {
    position: absolute;
    top: 34vh;
    left: 104%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60pt;
}

div.item-text span {
    left: 27vh;
    top: 50%;
}

#tiempo-value {
    left: 37vh;
}

.game-status {
    /* para las barras de vida tiempo y escudo */
    height: 35vh;
    top: -28px;
    left: 94px;
    width: 68vh;
    /* con este width mis barras de estado estan al maximo */
    position: absolute;
    border-radius: 10px 47% 47% 40px;
    transition: width 0.8s ease;
    /* para animar el width cuando este cambie */
}

/* escudo */

#escudo-value {
    left: 39vh;
}

#shield-bar {
    opacity: 0;
}
/* escudo end*/

/* keyframes para mostrar y ocultar elementos del menu y el UI //BEGIN */

.hidden {
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hidden.show {
    animation-name: fadeIn;
}

.hidden.hide {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*END*/

.score {
    color: white;
    top: 17vh;
    position: absolute;
    font-size: larger;
    background-color: black;
    padding: 12px;
    border-radius: 10px;
}

/* powerups */

#powerup {
    position: absolute;
    width: 265px;
    scale: .2;
    z-index: 1;
    animation: power-up-beat 1s infinite, movimiento-pantalla 25s forwards;
}

.clock {
    background: url('images/powerups/timer.png') no-repeat;
    height: 270px;
}

.hp {
    background: url('images/powerups/health.png') no-repeat;
    height: 270px;
}

.shield {
    background: url('images/powerups/shield.png') no-repeat;
    height: 300px;
}

/* runner */

#personaje {
    opacity: 0; 
    position: absolute;
    width: 620px;
    height: 740px;
    z-index: 1;
    bottom: -110px;
    left: -150px;
    transform: scale(.4);

}

#personaje.show {
    opacity: 1;
}

.correr {
    background: url("images/character/01_run_01start/run.png") repeat-x;
    animation: correr .5s steps(25) infinite;
}

.correr-damage-cooldown {
    animation: correr .5s steps(25) infinite, parpadeo .5s infinite;
    /* aniade un efecto de parpadeo cuando el runner recibe danio */
}

@keyframes correr {
    0% {
        background-position: 0
    }

    100% {
        background-position: -19975px
    }
}

.saltar {
    background: url("images/character/02_jump_01start/jump-start.png") repeat-x;
    animation: saltar .8s steps(22) forwards;
}

@keyframes saltar {
    0% {
        background-position: 0;
        bottom: -110px;
    }

    100% {
        background-position: -17798px;
        bottom: 8%;
    }
}

.caer {
    background: url("images/character/02_jump_02finish/jump-finish.png") repeat-x;
    animation: caer .4s steps(11) forwards;
}

@keyframes caer {
    0% {
        background-position: 0;
        bottom: 8%;
    }

    100% {
        background-position: -8899px;
        bottom: -110px;
    }
}

.atacado {
    background: url("images/character/atacado.png") repeat-x;
    animation: atacado .4s steps(4) forwards;
}

@keyframes atacado {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -3196px;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.atacar {
    background: url("images/character/punch.png") repeat-x;
    animation: golpear .5s steps(10) forwards;
}

@keyframes golpear {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -7990px;
    }
}

.shield-effect {
    /* efecto de escudo para el personaje */
    box-shadow: 0 0 60px 60px rgba(182, 44, 242, 0.5);
    background-color: rgba(182, 44, 242, 0.4);
    border-radius: 80%;

}

.muerte {
    background: url("images/character/death.png") repeat-x;
    animation: muerteAnimation 1.8s steps(41) forwards;
}

@keyframes muerteAnimation {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -32759px;
    }
}

.muerto {
    background: url("images/UI/dead.png");
}

/* enemigos */

#enemigo {
    position: absolute;
    z-index: 1;
}

.skeleton {
    transform: scale(.16);
    width: 1045px;
    height: 780px;
    bottom: -218px;
    background: url("images/enemies/skeleton/skeleton.png") repeat-x;
    animation: movimiento-pantalla 18s forwards, animacion-skeleton .20s steps(13) infinite;
    /*para el enemigo uso 2 animaciones, una para el movimiento y otra para el sprite */
}

@keyframes movimiento-pantalla {
    0% {
        left: 100vw;
        /*posición inicial en el lado derecho */
    }

    100% {
        left: -150vw;
        /*posición final en el lado izquierdo */
    }
}

@keyframes animacion-skeleton {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -15795px;
    }
}

.meat-soldier {
    transform: scale(.16);
    width: 761px;
    height: 901px;
    bottom: -266px;
    background: url("images/enemies/meatsoldier-sheet.png") repeat-x;
    animation: movimiento-pantalla 22s forwards, animacion-meat-soldier .8s steps(16) infinite;
    /*par el enemigo uso 2 animaciones, una para el movimiento y otra para el sprite */
}

@keyframes animacion-meat-soldier {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -12176px;
    }
}

.explosion {
    background: url("images/enemies/explosion.png") repeat-x;
    animation: explotar .6s steps(13) forwards;
    left: -20vw;
    height: 820px;
    scale: 1.3;
}

@keyframes explotar {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -15795px;
    }
}

@keyframes power-up-beat {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.2);
    }
}