body {
    margin: 0;
    max-height: 100%;
}

#contenedor,
#cielo,
#piso {
    width: 100%;
}

#contenedor {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.parallax-layer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.background-layer-5 {
    background: url('images/background/5.png') repeat-x;
    background-size: 1500px 74%;
    z-index: -5;
    animation: paralax 60s linear infinite;
    top: -7%;
}

.background-layer-4 {
    background: url('images/background/4.png') repeat-x;
    background-size: 1500px 264px;
    z-index: -5;
    animation: paralax 40s linear infinite;
    top: 12%;
}

.background-layer-3 {
    background: url('images/background/3.png') repeat-x;
    background-size: 1500px 359px;
    z-index: -4;
    animation: paralax 28s linear infinite;
    top: 24%;
}

.background-layer-2 {
    background: url('images/background/2.png') repeat-x;
    background-size: 1500px 478px;
    z-index: -3;
    animation: paralax 18s linear infinite;
    top: 30%;
}

.background-layer-1 {
    /* capa mas cercana al espectador */
    background: url('images/background/1.png') repeat-x;
    background-size: 1500px 259px;
    z-index: -2;
    animation: paralax 7s linear infinite;
    top: 49%;
}

#piso {
    height: 30%;
    background: url("images/background/piso.png") repeat-x;
    background-size: 1500px 283px;
    animation: paralax 4s linear infinite;
    position: absolute;
    bottom: -60px;
    z-index: 0;
}

@keyframes paralax {
    0% {
        background-position: 1500px
    }

    100% {
        background-position: 0
    }
}

#personaje {
    width: 74px;
    height: 92px;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 100px;
}

.correr {
    animation: correr .6s steps(10) infinite;
    background: url("images/character.png") repeat-x;
}

.saltar {
    animation: saltar 1800ms cubic-bezier(0, 0, .5, 1) forwards;
    background: url("images/character_jump.png") repeat-x;
}

/* .caer {
    animation: caer 600ms cubic-bezier(0,0,.5,1) forwards;
    background: url("images/character_jump.png") repeat-x;
} */

@keyframes saltar {
    0% {
        bottom: 10%;
        background-position: 0;
    }

    100% {
        bottom: 50%;
        background-position: -910;
    }
}

@keyframes caer {
    from {
        bottom: 50%;
    }

    to {
        bottom: 10%;
    }
}


@keyframes correr {
    0% {
        background-position: 0
    }

    100% {
        background-position: -730px
    }
}

.enemigo {
    position: absolute;
    bottom: 10%;
    width: 128px;
    height: 92px;
    background-color: rgb(141, 129, 129);
    animation: enemigo 2.5s forwards linear;
}

@keyframes enemigo {
    from {
        left: 100%;
    }

    to {
        left: -10%;
    }
}